* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* quicksand font styles */

.quicksand-simple {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* raleway font style */

.raleway-simple {
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* shared style */
.display-flex {
    display: flex;
}
.nav-same {
    font-size: 1.25rem;
    line-height: 1.875rem;
}
.text-center {
    text-align: center;
}
.shadow {
    box-shadow: 0 0 28.3px 0.94px rgba(0, 0, 0, 0.05);
    border-radius: 18.86px;
    height: 476px;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
} 

/* Marquee Sections style is here */

.marquee {
    width: 1160px;
    height: 60px;
    margin: 30px auto;
    overflow: hidden;
    position: relative;
    border-radius: 1rem;
}
.marquee>div {
    display: block;
    width: 300%;
    height: 45px;
    position: absolute;
    overflow: hidden;
    animation: marquee 13s 2s infinite;
    text-align: center;
    font-size: 1.5rem;
    background-color: rgba(242, 232, 255, 1);
    padding: 7px;
}
.marquee>div>span {
    font-weight: 800;
}
.colorMar1 {
    color: #01ACFD;
}
.colorMar2 {
    color: #05D4DF;
}
.colorMar3 {
    color: #5D58EF;
}
.marquee>span {
    float: right;
    width: 100%;
}
@keyframes marquee {
    0% { right: 0;}
    100% {right: -120%;}
}

/* navbar styele are here */

.navbar {
    max-width: 1160px;
    margin: 20px auto;
    justify-content: space-between;
    align-items: center;
}
.nav-list {
    gap: 2rem;
}
.nav-logo {
    align-items: center;
    gap: 10px;
    
}
.nav-title {
    font-size: 2rem;
    color: black;
    line-height: 1.875rem;
    font-weight: 700;
}
.nav-link {
    text-decoration: none;
}
.nav-click {
    list-style: none;
}
.color-1 {
    font-weight: 700;
    color: #FEA301;
}
.color-2 {
    font-weight: 500;
    color: #01ACFD;
}
.color-3 {
    font-weight: 500;
    color: #05D4DF;
}
.color-4 {
    font-weight: 500;
    color: #5D58EF;
}
.nav-btn {
    width: 197px;
    padding: 10px;
    background-color: #FEA301;
    font-size: 1.25rem;
    line-height: 1.875rem;
    font-weight: 600;
    color: #FFFFFF;
    border-radius: 12px;
    border: none;
}

/* banner section styles are here */
.banner-section {
    max-width: 1158px;
    margin: 0 auto;
    gap: 50px;
    align-items: center;
}
.banner-description {
    flex-direction: column;
    gap: 30px;
    color: #111111;
}
.orange {
    color: #FEA301;
}
.blue {
    color: #01ACFD;
}
.banner-title {
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 3.8125rem;
}
.banner-subtitle {
    font-size: 1.25rem;
    color: #111111;
    font-weight: 400;
}
.banner-btn {
    max-width: 197px;
    padding: 10px;
    background-color: #111111;
    color: rgb(255, 255, 255);
    border-radius: 12px;
}

/* curriculum sections style is here */
.curriculum {
    padding: 60px 0;
    background-image: url(../assets/bg.png);
    background-repeat: no-repeat;
}
.curriculum-title {
    text-align: center;
    font-size: 2.875rem;
    font-weight: 700;
    line-height: 3.59375rem;
    color: #000000;
}
.curriculum-boxes {
    max-width: 1160px;
    margin: 80px auto;
    gap: 30px;
}
.class-title {
    font-size: 1.5325rem;
    line-height: 1.91875rem;
    font-weight: 700;
    color: #202020;
}
.class-subtitle {
    font-size: 0.943125rem;
    font-weight: 500;
    line-height: 1.76875rem;
    color: #808080;
}
.read-link {
    text-decoration: none;
}
.read-1 {
    font-size: 0.943125rem;
    color: #64C8FF;
    line-height: 1.76875rem;
}
.read-2 {
    font-size: 0.943125rem;
    color: #F0AA00;
    line-height: 1.76875rem;
}
.read-3 {
    font-size: 0.943125rem;
    color: #8700FF;
    line-height: 1.76875rem;
}
.icon-1, .icon-2 {
    height: 40px;
    width: 40px;
    font-size: 1.5rem;
    border-radius: 50%;
    background-color: #FEA301;
    color: #FFFFFF;
    font-weight: 700;
    align-items: center;
    justify-content: center;
}
.icons {
    justify-content: center;
    gap: 7px;
}
.kinder, .elementary, .middle {
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
}

/* curriculum-boxes color gradient style */
.kinder {
    background-image: linear-gradient(180deg, rgba(222, 245, 255, 1), rgba(255, 255, 255, 0) 40%);
}
.elementary {
    background-image: linear-gradient(180deg, rgba(255, 244, 220, 1), rgba(255, 255, 255, 0) 40%);
}
.middle {
    background-image: linear-gradient(180deg, rgba(238, 225, 255, 1), rgba(255, 255, 255, 0) 40%);
}



/* story section is here */
.stories {
    padding-top: 60px;
    padding-bottom: 60px;
    background-image: url(../assets/bg.png), linear-gradient(to top, rgba(254, 163, 1, 0.3), rgba(255, 255, 255, 1))
}

.main-story {
    border-radius: 16px;
    background-color: #FFFFFF;
    width: 80%;
}
.story-title {
    font-size: 2.875rem;
    line-height: 3.59375rem;
    font-weight: 700;
    color: #000000;
}
.story-container {
    padding-top: 80px;
    padding-bottom: 80px;
    max-width: 1160px;
    margin: 0 auto;
    gap: 20px;
}
.main-story-description {
    flex-direction: column;
    gap: 50px;
    margin-top: 50px;
    padding-left: 20px;
    padding-right: 45px;
    padding-bottom: 10px;
}
.main-story-title {
    font-size: 1.5rem;
    font-weight: 700;
    color: #000000;
    line-height: 2.39375rem;
}
.main-story-subtitle {
    font-size: 0.95875rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #666666;
}
.story-btn1 {
    background-color: #3CD8E8;
    border-radius: 47.93px;
    height: 47px;
    color: #FFFFFF;
    padding: 15px;
    border: none;
    position: relative;
    bottom: 37px;
    left: -150px;
}
.second-story {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.story-box2 {
    border-radius: 16px;
    background-color: #FFFFFF;
}
.story-description {
    margin: 19px 38px 28px; 
    font-size: 0.95875rem;
    font-weight: 700;
    line-height: 1.8rem;
    color: #000000;
}
.alt-btn {
    background-color: #95B226;
    color: #FFFFFF;
    border-radius: 47.93px;
    height: 38.35px;
    padding: 10px;
    border: none;
    position: relative;
    bottom: 27px;
    left: 40px;
}
.purple {
    background-color: #5D58F0;
}
.main-story>img, .story-box2>img {
    width: 100%;
    background-size: cover;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.story-btn {
    margin: 0 auto;
    padding: 10px;
    width: 197px;
}



/* footer styles are here */
footer {
    background-color: #01ACFD;
}
.footer-section {
    height: 519px;
    justify-content: space-around;
    align-items: center;
    
    
}
.footer-main-container {
    max-height: 222px;
    max-width: 1070px;
    display: flex;
    justify-content: space-between;
}
.footer-description {
    width: 35%;
}
.footer-title {
    font-size: 2.63375rem;
    line-height: 2.46875rem;
    font-weight: 700;
    color: #FFFFFF;
}
.footer-subtitle {
    font-size: 1.25rem;
    font-weight: 400;
    color: #FFFFFF;
}
.footer-icon-sec {
    word-spacing: 11px;
    margin-bottom: 35.35px;
}
.about-title {
    font-size: 1.5rem;
    font-weight: 700;
    color: #FFFFFF;
}
.footer-click {
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 10px;
    color: #FFFFFF;
}
.no-list {
    list-style: none;
}
.footer-social-title {
    font-size: 1.625rem;
    line-height: 1.625rem;
    color: #FFFFFF;
    margin-bottom: 32px;
}


.hide {
    display: none;
}